
* {box-sizing: border-box;}

    	body {
    		width: 100%;
    		height: 900px;
    		background-color: #f1f1f1;
    		display: flex;
    		flex-direction: column;
    	}

/*Header*/
    	.header {
    		width: 100%;
    		height: 80px;
    		display: flex;
    		flex-direction: row;
    		background-color: #424242;
    		position: fixed;
    		margin: -10px 0px 0px -10px;
    	}
    	.logo {
    		width: 15%;
    		height: 80px;
			color: white;
			margin: 5px 10px 5px 5px; 
			/*background-color: green; */
    	}
    	.luaslogo {
    		width: 20%;
    		height: 70px;
    		margin: 5px 10px 5px 5px;  
    	}
    	.putih{
			width: 70%;
			height:70px; 
		}
    	.kat {
    		width: 10%;
    		height: 80px;
			color: white;
			margin: 30px 10px 5px 5px;
	/*		background-color: yellow*/
			font-family: lato;
			font-weight: bold;
    	}
    	.search {
    		width: 70%;
    		height: 80px;
			color: white;
			margin: 17px 10px 5px 10px;
			border-radius: 2px;
			/background-color: blue;/
    	}
    	.tom{
    		width: 100px;
    		height: 40px;
    		border-radius: 3px;
    	}
    	#tombol {
    		margin-top: 0px;
    		height: 35px;
    		width: 60px;
    	}
    	.cari{
    		width: 70%;
    		height: 35px;
    		border-radius: 3px;
    		margin-top: 8px;

    	}
    	.tombol {
    		height: 35px;
    	}
    	.pesanan {
    		width: 15%;
    		height: 80px;
			color: white;
			margin: 30px 10px 5px 20px;
			font-family: lato;
			font-weight: bold;
	/*		background-color: red;*/
    	}
    	.gambarA {
    		width: 5%;
    		height: 80px;
			color: white;
			margin: 10px 10px 5px 5px;
    	}
    	.about {
    		width: 5%;
    		height: 80px;
			color: white;
			margin: 30px 20px 5px 30px;
			font-family: lato;
			font-weight: bold;
    	}
    	.yoo {
    		width: 50px;
    		height: 50px;
    	}
    	#putihh {
    		color: white;
    	}
  .dropbtn {
  background-color: #424242;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  /*background-color: #2980B9;*/
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: -10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color:white;}

.show {display: block;}

    	a {
    		color: white;
    	}
    	img{
			width: 50px;
			height: 50px;
		}

    	.tengah {
    		width: 100%;
    		height: 600px;
    		display: flex;
    		justify-content: center;
    		margin-top: 85px;
    		/*background-color: */
    		/*border: 1px solid black;*/
    	}
    	.isi {
    		width: 70%;
    		height: 500px;
    		display: flex;
    		flex-direction: column;
    		background-color: white;
    		align-items: center;
    		/*border: 1px solid black;*/
    	}
    	.uu {
    		width: 300px;
    		height: 40px;
    		margin-bottom: 10px;
    	}
    	.captcha {
    		width: 300px;
    		height: 50px;
    		display: flex;
    		flex-direction: row;
    		border-radius: 3px;
    		margin-top: 20px;
    	}
    	.cap {
    		width: 120px;
    		height: 50px;
    		text-align: left;
    		margin-right: 30px;
    		border-radius: 3px;
    	}
    	.cap1 {
    		width: 120px;
    		height: 50px;
    		background-color: grey;
    		margin-left: 30px;
    	}
    	.c {
    		margin: 15px 0px 0px 35px;
    		color: black;
    		border-radius: 3px;
    	}
    	.c1 {
    		margin: 15px 0px 0px 0px;
    		color: black;
    		cursor: pointer;

    	}
    	.c1:hover {
    		color: blue;

    	}
    	.tos {
    		width: 300px;
    		height: 30px;
    		color: black;
    	}
    	.but {
    		width: 300px;
    		height: 40px;
    		background-color: blue;
    		color: white;
    		margin-bottom: 20px;
    		margin-top: 40px;
    	}
    	.but1 {
    		width: 120px;
    		height: 50px;
    		background-color: purple;
    		color: white;
    		margin-bottom: 20px;
    	}

    	.footer {
			width: 100%;
			height: 300px;
			display: flex;
			background-color: #f1f1f1;
			flex-direction: column;

		}
		.atas {
			width: 100%;
			height: 50px;
			justify-content: space-around;
			display: flex;
			flex-direction: row;
		}
		h2 {
			color: black;
		}
		.bawah {
			width: 100%;
			height: 250px;
			display: flex;
			flex-direction: ;
		}
		.alamat {
			width: 25%;
			height: 250px;
			flex-direction: column;
		}
		.contact {
			width: 25%;
			height: 250px;
			display: flex;
			flex-direction: column;
		}
		.payment {
			width: 25%;
			height: 250px;
			display: flex;
			flex-direction: column;
		}
		.partner {
			width: 25%;
			height: 250px;
			display: flex;
			flex-direction: column;
		}
		.is {
			width: 25%;
			height: 60px;
			display: flex;
			flex-direction: row;
		}
/*Footer*/
	.footer {
			width: 100%;
			height: 300px;
			display: flex;
			background-color: #424242;
			flex-direction: column;

		}
		.atas {
			width: 100%;
			height: 50px;
			justify-content: space-around;
			display: flex;
			flex-direction: row;
		}
		h2 {
			color: black;
		}
		.bawah {
			width: 100%;
			height: 250px;
			display: flex;
			flex-direction: row;
		}
		.alamat {
			width: 25%;
			height: 250px;
			flex-direction: column;
		}
		.contact {
			width: 25%;
			height: 250px;
			display: flex;
			flex-direction: column;
		}
		.payment {
			width: 25%;
			height: 250px;
			display: flex;
			flex-direction: column;
		}
		.partner {
			width: 25%;
			height: 250px;
			display: flex;
			flex-direction: column;
		}
		.is {
			width: 35%;
			height: 60px;
			display: flex;
			flex-direction: row;
		}
		.putih {
			color: white;
			font-style: bold;
			margin-left: 20px;
		}
	iframe {
			margin-left: 40px;
			margin-top: 20px;
		}

/* Full-width input fields */
.yy[type=text], .yy[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.yy[type=text]:focus, .yy[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #424242;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:3;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #c1c1c1;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}	

#cocol{
	width: 100px;
	height: 50px;
	margin-left: 50px;
}
#cocol1{
	width: 100px;
	height: 50px;
}	
		